<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Sprog Recipes</title>
  <link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>

<div id="logo"><img src="../images/sprog-logo.png" alt="Sprog Logo" /></div>
<div id="headline"><img src="../images/sprog-heading.png" alt="Sprog!" /></div>
<div id="hline"></div>

<div id="indent-content">
<div id="content">

<h1>Sprog Recipes</h1>

<p>Here are some examples of Sprog machines with step-by-step explanations of
how the gears are configured.</p>

<ul>
  <li><a href="crossword/index.html">Solving crossword puzzles</a></li>
</ul>

<p style="height: 24em;">&nbsp;</p>

</div>
</div>

<% USE SiteNav %><% SiteNav.links %>

</body>
</html>
