<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Installing Sprog</title>
  <link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>

<div id="logo"><img src="../images/sprog-logo.png" alt="Sprog Logo" /></div>
<div id="headline"><img src="../images/sprog-heading.png" alt="Sprog!" /></div>
<div id="hline"></div>

<div id="indent-content">
<div id="content">

<h1>Installing Sprog</h1>

<p>Instructions for locating and installing packaged 'binary' builds of Sprog
will be added here as they become available.  The prerequisite libraries and
generic installation instructions are listed towards the end of this page.</p>

<ul>
  <li><a href="#debian">Debian apt Repository</a></li>
  <li><a href="#rpm">Linux RPM Packages</a></li>
  <li><a href="#generic">Generic Installation Instructions</a></li>
</ul>

<h2><a name="debian"></a>Debian apt Repository</h2>

<p>Debian '.deb' package files are available here.  They are known to work
with the following distributions:</p>

<ul>
<li>Debian stable ('Sarge'), testing and unstable</li>
<li>Ubuntu 5.10 (Breezy Badger) <a href="ubuntu.html">see note</a>, 5.04 (Hoary
Hedghog) and 4.10 (Warty Warthog)</li>
</ul>

<p>The same package works for all distributions.  Add this line to your
/etc/apt/sources.list:</p>

<pre>  deb http://sprog.sourceforge.net/debian unstable contrib</pre>

<p>Then after refreshing your package listings, install the package
'libsprog-perl'.  This will resolve any dependencies and install prerequisite
packages from your standard sources.</p>

<h2><a name="rpm"></a>Linux RPM Packages</h2>

<p>Gavin Brown kindly produced RPMS and a .spec file for the 0.09 release.
Those old files are available at <a
href="http://jodrell.net/files/sprog">here</a>.</p>

<p>For more rercent releases, I've taken Gavin's spec file and used it to
produce an RPM <a href="../rpm/">here</a>.  If you have any problems with it,
please <a href="mailto:grantm@cpan.org">let me know</a>.</p>

<h2><a name="generic"></a>Generic Installation Instructions</h2>

<p>Sprog is written in Perl and uses the GTK GUI toolkit.  Before you
attempt to install Sprog itself, you will need to ensure you have the 
following packages installed:</p>

<ul>
  <li>GTK+ libraries</li>
  <li>libgnomecanvas<sup>*</sup></li>
  <li>libglade</li>
  <li><a href="http://search.cpan.org/dist/perl/">Perl</a> - preferably version
  5.8, along with the following CPAN modules:
  <ul>
    <li><a href="http://search.cpan.org/dist/Gtk2/">Gtk2</a> Perl bindings</li>
    <li><a href="http://search.cpan.org/dist/Gnome2-Canvas/">Gnome2::Canvas</a><sup>*</sup></li>
    <li><a href="http://search.cpan.org/dist/Gtk2-GladeXML/">Gtk2::GladeXML</a></li>
    <li><a href="http://search.cpan.org/dist/YAML/">YAML</a></li>
    <li><a href="http://search.cpan.org/dist/Pod-Simple/">Pod::Simple</a></li>
  </ul>
  </li>
</ul>

<p>*<i> Note: although libgnomecanvas is part of the <a
href="http://www.gnome.org/">GNOME</a> project, it compiles separately and is
portable across operating systems.  You do not need to be running the GNOME
desktop environment to run Sprog.</i></p>

<p>Once you have the prerequisite packages installed,<a
  href="http://sourceforge.net/project/showfiles.php?group_id=126289">download</a>
  the latest source distribution and unpack it into a temporary directory.
  Run the following commands from that directory:</p>
<pre>  perl Makefile.PL
  make
  make test
  make install</pre>

<p>Start Sprog by running: sprog</p>

<h2>Notes for Windows Users</h2>

<p>Unfortunately, there is no easy single download to install Sprog, or 
even it's prerequisites.  Your first step should be to install <a
href="http://www.activestate.com/Products/ActivePerl/">ActiveState
Perl</a> - it's free and it does come with an installer.</p>

<p>The steps following that get progressively more 'hard core'.  Binary
downloads of the GTK+ libraries are available for download from
<a href="http://www.gimp.org/~tml/gimp/win32/downloads.html">gimp.org</a>.
PPM distributions of the Gtk-Perl modules are available from the
<a href="http://gtk2-perl.sourceforge.net/win32/">gtk2-perl project</a>. 
Even after all that, you'll still be missing the GNOME canvas library and its
Perl binding.  Reportedly these can be built on Windows, but you'll have
to break out your compiler.</p>

<p>If you do manage to crack that, the gtk2-perl project would be happy to host PPMs (hint, hint).</p>


<p>&nbsp;</p>

</div>
</div>

<% USE SiteNav %><% SiteNav.links %>

</body>
</html>
