<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Sprog Gear Library</title>
  <link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>

<div id="logo"><img src="../images/sprog-logo.png" alt="Sprog Logo" /></div>
<div id="headline"><img src="../images/sprog-heading.png" alt="Sprog!" /></div>
<div id="hline"></div>

<div id="indent-content">
<div id="content">

<h1>Sprog Gear Library</h1>

<p>Sprog is not limited to using the 'gears' (reusable components) that come
bundled in the distribution.  You can write your own gears and share them with
the world.</p>

<p>There are plans afoot to create a repository of Sprog gears.  In the mean
time, this page will list links to 'third party' gears.  To get listed here,
just email the URL from which your gear can be downloaded, to: <a
href="mailto:grantm@cpan.org">grantm&#64;cpan.org</a>.</p>


<table class="gear-list">

  <tr>
    <th>Gear Title</th>
    <th>Author</th>
    <th>Link</th>
  </tr>

  <tr>
    <td>Read Excel as CSV</td>
    <td>Marc Slagle</td>
    <td><a href="http://osdn.whapps.com/files/Sprog-Gear-ReadExcel-0.04.tar.gz">download</a></td>
  </tr>

  <tr>
    <td>LDIF to Record</td>
    <td>Chris Benson</td>
    <td><a href="http://jesmond.demon.co.uk/Sprog/">download</a></td>
  </tr>

</table>

<p style="height: 24em;">&nbsp;</p>

</div>
</div>

<% USE SiteNav %><% SiteNav.links %>

</body>
</html>
