<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Sprog Screenshots</title>
  <link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>

<div id="logo"><img src="../images/sprog-logo.png" alt="Sprog Logo" /></div>
<div id="headline"><img src="../images/sprog-heading.png" alt="Sprog!" /></div>
<div id="hline"></div>

<div id="indent-content">
<div id="content">

<h2>Sprog Screenshots</h2>

<table>

  <tr>
    <td><a href="images/01_assembly.png"><img src="images/01_assembly-small.png"
    alt="Assembling a machine" /></a></td>
    <td>This shot shows Sprog running under Debian GNU/Linux in the GNOME
    desktop environment.  In this example the gear palette is visible, two 
    gears have been dragged to the workbench and a third is being dragged
    across to complete a simple machine.</td>
  </tr>

  <tr>
    <td><a href="images/02_running.png"><img src="images/02_running-small.png"
    alt="Running a machine" /></a></td>
    <td>In this shot, the gear palette has been hidden, the assembled machine 
    is running and the results are appearing in the text window.</td>
  </tr>

  <tr>
    <td><a href="images/panther_dilbert.jpg"><img src="images/panther_dilbert-small.png"
    alt="Sprog on MacOS X (Panther)" /></a></td>
    <td>Christian Renz contributed this shot of Sprog running on his Mac OS X
    10.3 ("Panther") system.</td>
  </tr>

</table>

<p style="height: 18em;">&nbsp;</p>

</div>
</div>

<% USE SiteNav %><% SiteNav.links %>

</body>
</html>
