<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Sprog!</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div id="logo"><img src="images/sprog-logo.png" alt="Sprog Logo" /></div>
<div id="headline"><img src="images/sprog-heading.png" alt="Sprog!" /></div>
<div id="byline"><img src="images/postit.jpg" alt="Scripting for the GUI Guys" /></div>
<div id="hline"></div>

<div id="indent-content">
<div id="content">

<div id="features">
  <h1>Recipes</h1>
  <p><a href="recipes/index.html"><img src="images/recipes-promo.png"
  alt="Recipes" /></a><br />
  Visit the new <a href="recipes/index.html">recipes</a> section for step by
  step examples of Sprog in action.</p>
  <h1>Links</h1>
  <ul>
  <li><a href="http://www.perl.com/pub/a/2005/06/23/sprog.html">Data Munging
  with Sprog</a> (Perl.com).</li>
  </ul>
  <div id="end-features"></div>
</div>

<h1>Welcome</h1>

<p>Welcome to the Sprog project.  If you're new here, the <a
href="intro/index.html">introduction</a> page is probably the best place to
start.</p>

<p>There is also a <a
href="https://lists.sourceforge.net/lists/listinfo/sprog-users">mailing
list</a>.</p>

<h1>News</h1>

<h2>27-Jul-2005 Release 0.14</h2>

<p>This release has a few minor enhancements and a few minor bug fixes.  You
can now rename gears and change the gear title font.  The right click menu no
longer disappears unexpectedly. Enter now works in file selection dialogs and
Cancel now works in the preferences dialog.  Other internal bugs fixes are
listed in the change log.</p>

<p>Warning for developers: the package names for the gear mixin classes have 
changed.</p>

<p> You can download this release from <a
href="http://prdownloads.sourceforge.net/sprog/Sprog-0.14.tar.gz?download">here</a>
or Debian users can use the 'apt' repository detailed <a
href="install/index.html#debian">here</a>.  There's also an <a href="rpm/">RPM
file</a> for use with other Linux distributions.</p>

<h2>3-Jul-2005 Release 0.13</h2>

<p>The major new feature in this release is the ability to add custom command
gears to the palette simply by pointing and clicking.  A new 'Run Command'
output gear has also been added.  There are a number of bug fixes and user
interface tweaks as well (more detail in the change log).</p>

<h2>26-Jun-2005 Release 0.12</h2>

<p>The primary focus of this release is fixing some bugs that became apparent
when lots of people started downloading and installing Sprog.  Thanks for the 
reports!  The installation dependencies should be fixed now, as well as the 
crash when deleting a flashing gear.</p>

<p>There's a new preferences dialog which allows you to define a 'Personal
Gear Folder' - a place to stick all those gears you're creating or downloading.
You can also use the preferences dialog to change the colour of the Sprog
workspace.</p>

<h2>24-Jun-2005 Sprog Article on Perl.com</h2>

<p><a href="http://www.perl.com">Perl.com</a> have just published
<a href="http://www.perl.com/pub/a/2005/06/23/sprog.html">Data Munging
with Sprog</a>.</p>

<h2>23-Jun-2005 Release 0.11</h2>

<p>This is a minor release to replace the 'proof of concept' CSV Split gear
with a more capable version that understands quoting, escaped quotes and
embedded newlines.</p>

<h2>14-Jun-2005 Release 0.10</h2>

<p>This release has some bug fixes, some new gears and one crazy new feature:
You can now use the --nogui option to run Sprog without a GUI.  So those snazzy
machines you've been building to automate repetitive tasks can now be scheduled
via cron, or kicked off daily from your login script.  Also new in this
release:</p>
<ul>
  <li>Drag-and-drop: drag filenames or links from your file manager
      or web browser into your machine.</li>
  <li>Help system: access a gear's help page directly from the palette via
      right click menu or Shift-F1.</li>
  <li>New gears: NameFields, SelectFields, PerlCodePA, PerlCodePH, ReplaceFile,
      ImageBorder (experimental).</li>
  <li>UI tweaks: view preferences are now saved, help browser remembers scroll
      position when moving back/forward, highlighting of gear that raised an 
      alert.</li>
  <li>A few bug fixes, including a scheduler race condition which could cause
      machine hangs.</li>
</ul>

<h2>30-May-2005 Release 0.09</h2>

<p>This release marks a leap forward in Sprog functionality:</p>

<ul>
  <li>A help viewer is now bundled, help text has been added for all gears
      and developer notes have been added too.</li>
  <li>A bunch of new gears are included in the distribution: WriteFile,
      CommandFilter, CSVSplit, ParseHTMLTable, SelectColumns, StripWhitespace,
      ListToCSV, ListToRecord, TemplateTT2, PerlCodeAP, RetrieveURL</li>
  <li>The API for the PerlCode gears have been changed to use an overridden
      'print' - much simpler.</li>
  <li>For developers: auto-discovery of gears has been implemented, so if you
      implement your gear class according to the documented rules, it should
      appear in the palette.</li>
  <li>The scheduler logic has been reworked to be more robust, functional and
      better documented.</li>
</ul>

<h2>22-Mar-2005 Release 0.08</h2>

<p>The main user-visible changes in this release are some major speed
improvements, a new 'Text Input' gear and the removal of the vapourware gears.</p>
<p>There have been many infrastructural changes.  Sprog now sports a regression
test suite with over 400 tests.  Numerous bugs were found and fixed during the
development of these tests.  Much refactoring and code cleanup has been
completed too.</p>

<h2>24-Feb-2005 Release 0.07</h2>

<p>This release cleans up some of the user interface issues left over from
the last release.  Dragging and dropping gears should now drop where you
expect.  You can now show/hide the gear palette via the new 'View' menu, the
toolbar or a hot key.  The toolbar buttons are now labelled but you can set
the style you prefer via the view menu, or hide the toolbar altogether.  Preferences are not persistent yet, but they will be eventually.</p>

<h2>19-Feb-2005 Release 0.06</h2>

<p>This release introduces the gear 'palette' for browsing and
selecting gears.  You can now add gears to your machine by dragging them from
the palette and dropping them onto the Sprog workspace (although there are
still some wrinkles to sort out with the drop coordinates).</p>
<p>The palette view can be filtered by input and output connector types and
also supports keyword searching.</p>

<h2>09-Feb-2005 Release 0.05</h2>

<p>A few bug fixes relating to the new save/restore functionality.  Support for save/restore has also been added to a few more gear classes.</p>

<h2>08-Feb-2005 Release 0.04</h2>

<p>This release provides support for saving your 'machines' into files, so
you can now start to save your creations to share with your friends.  The newly
implemented menu options include:</p>
<ul>
<li>File - Open</li>
<li>File - Save</li>
<li>File - Save As</li>
</ul>

<h2>03-Jan-2005 Release 0.03</h2>

<p>This is the first release since the project was renamed to the new
official name 'Sprog' from the old working title 'Pstax'.  This release is
functionally equivalent to pstax-0.02, but is now packaged in standard CPAN
style (although not uploaded to CPAN).</p>

</div>
</div>

<% USE SiteNav %><% SiteNav.links %>

</body>
</html>
